.App {
  text-align: center;
}
h1 {
  background-position: 0px -15px;
  color: #3467c7 !important;

  font-weight: 700;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  perspective-origin: 60px 11px;
  transform-origin: 60px 11px;
  margin: 0px 40px 8px 0px;
  font-size: 35px;
}
